* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: sans;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 100vh;
}

@media (max-aspect-ratio: 3/2) {
    body {
        font-size: 66vw;
    }
}